@charset "UTF-8";
body {
  font-family: "こぶりなゴシック Std";
}

.head {
  background: #9CD5E0;
  display: flex;
  height: 60px;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.head .daimei {
  color: #707070;
  margin-left: 170px;
  padding-top: 10px;
}

.head .img {
  padding-left: 90px;
  padding-top: 10px;
}

main {
  position: relative;
}

main .yazi {
  padding-top: 70px;
  padding-left: 20px;
}

main .mail {
  height: 80px;
  text-decoration: none;
  color: #707070;
}

main .line {
  padding: 70px 0 30px 30px;
}

main .line .line:not(:first-child) {
  padding-top: 30px;
}

main .line a {
  text-decoration: none;
  color: #707070;
}

main .pro {
  text-align: center;
  padding-top: 100px;
}

main .pro .seikaku {
  padding-left: 85px;
}

main .pro h3 {
  color: #707070;
  padding-top: 20px;
}

main .login {
  border: #707070 solid 1px;
  text-align: center;
  padding: 15px;
  width: 80%;
  margin-top: 40px;
  margin-left: 40px;
}

main .login a {
  text-decoration: none;
  color: #707070;
}

.foot {
  background: #9CD5E0;
  height: 70px;
  z-index: 1;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.foot ul {
  display: flex;
  justify-content: space-around;
  background: #9CD5E0;
  height: 70px;
  position: relative;
}

.foot ul li {
  list-style: none;
}

.foot ul .home {
  padding-top: 20px;
}

.foot ul .serch {
  bottom: 20%;
  left: 38%;
  position: absolute;
  cursor: pointer;
}
