@charset "UTF-8";
body {
  font-family: "こぶりなゴシック Std";
}

.head {
  background: #9CD5E0;
  display: flex;
  height: 60px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.head .daimei {
  color: #707070;
  margin-left: 170px;
  padding-top: 10px;
}

.head .img {
  padding-left: 90px;
  padding-top: 10px;
}

.login {
  text-align: center;
  margin-top: 200px;
}

.login p {
  padding-bottom: 20px;
}

.login .btn {
  border: black solid 1px;
  border-radius: 40px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 40px;
}

.login a {
  text-decoration: none;
  color: gray;
  font-size: 30px;
}

.writte {
  position: fixed;
  top: 0;
  margin-top: 670px;
  margin-left: 330px;
}

.foot {
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  z-index: 1;
  position: fixed;
}

.foot ul {
  display: flex;
  justify-content: space-around;
  background: #9CD5E0;
  height: 70px;
  position: relative;
}

.foot ul li {
  list-style: none;
}

.foot ul .home {
  padding-top: 20px;
}

.foot ul .serch {
  bottom: 20%;
  left: 38%;
  position: absolute;
  cursor: pointer;
}
